In [17]:
library(tidyverse)
library(repr)
library(tidymodels)
library(cowplot)
library(ggplot2)

In [18]:
players_data <- read_csv("https://raw.githubusercontent.com/thaviship/individual-planning-dsci-100/refs/heads/main/players.csv", 
                         col_names=TRUE)

head(players_data)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

In [19]:
players_tidy <- players_data |> 
                select(-hashedEmail, name) |> 
                filter(played_hours>0) |> 
                mutate(subscribe_fct=as_factor(subscribe))

head(players_tidy)

  experience subscribe played_hours name      gender Age subscribe_fct
1 Pro        TRUE      30.3         Morgan    Male    9  TRUE
2 Veteran    TRUE       3.8         Christian Male   17  TRUE
3 Amateur    TRUE       0.7         Flora     Female 21  TRUE
4 Regular    TRUE       0.1         Kylie     Male   21  TRUE
5 Amateur    TRUE       0.1         Natalie   Male   47  TRUE
6 Veteran    TRUE       1.6         Lane      Female 23  TRUE